.until {
    /* font-size: 10px; */
    margin: 25px;
    max-width: 500px;
    display: grid; /* ~columns */
    grid-template-columns: repeat(4, 1fr); /* 4 columns / 1fr - one unit of the available space */
    gap: 1em;
    padding: 1em;
    background: #009578;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.until__component {
    text-align: center;
    background: white;
    border-radius: 5px;
}

.until__numeric {
    color: #333333;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until__unit {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #94001B;
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: white;
    font-weight: bold;
}