button {
    background-color: green;
    border: 2px solid black;
    border-radius: 20%;
    width: 200px;
    height: 80px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25px;
}

button:hover {
    transform: scale(0.95);
}

.overlay {
    background-color: gainsboro;
    width: 250px;
    height: 100px;
}

a {
    padding: 50px;
}