form {
    margin: 0 auto;
    height: 200px;
    width: 500px;
    background-color: beige;
}

input {
    margin: 10px;
    margin-top: 80px;
    margin-left: 50px;
}

button {
    display: block;
    margin: 0 auto;
}